
.bar{
  font-weight: bold;
  color: black;
}





.avatar {

margin:auto;
text-align: center;
width: 100%;;
height: 100%;

}


.manequin {
 
  width: 20%;
  height: 40%;
  border-radius: 50%;
  position: relative;
   

}

.contato{

  
  width: 10%;
  height: 5%;
  
  
  position:relative;
  margin-bottom: 110px;

}

.wppd{
  
  margin-bottom: 70px;
}

.wpp{
  
  width: 70%;
  height: 10%;

}


.top{

  width: 800px;
  height: 800px;

}


.jj{

  width: 98%;
}

#topo{

  

  position: relative;
  height: 700px;
  width: 100%;
  z-index: 5;
  
}


.bg{
background-image: url("../projeto.jpg");
position:absolute;
width: 100%;
height: 100%;
opacity: 0.3;


}

.container{

padding-top: 100px;
padding-bottom: 100px;

}


.row{

  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.h1{

  color: white;
}






.sobre{

  text-align: center;

  align-items: center;

  padding-top: 3%;
  padding-bottom: 5%


}



.mim{

  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto; 
}



#trabalhos{

  background-color:#6C757D ;

}







@media screen and (max-width:800px) {
  


  #topo{

    flex-direction: row;
    justify-content: space-around;
    
  }

  .manequin{
    width: 60%;
    height: 60%;
    text-align: center;

    
  }

  .row{

    margin-left: 6%;
  }

}
  