.manequin {


    margin-left: 500px;
}

.wpp{

  width: 20%;

}

.wppd{

  margin-left: 1200px;
  margin-bottom: 3200px;
  position: absolute;
}


.top{

  width: 800px;
  height: 800px;

}


.jj{

  width: 98%;
}
