


.avatar {

margin:auto;
text-align: center;
width: 1050px;;
height: 830px;

}


.manequin {

  width: 550px;
  height: 550px;
  border-radius: 50%;
 

}

.contato{

  text-align: right;
  width: 1000px;
  height: 160px;
  text-align: right;
  margin: 0px 80px 90px 50px ;
  position:absolute;

}

.wpp{
  
  width: 10%;
  height: 10%;

}

.wppd{
 

  
}


.top{

  width: 800px;
  height: 800px;

}


.jj{

  width: 98%;
}
